/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: #808080;
  background-color: var(--color-secondary);
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.right img {
  position: sticky;
  max-width: 100%;
  height: auto;
  height: 350px;
  margin-right: 350px;
}

h1 !IMPORTANT {
  color: white;
  text-align: left;
  width: 500px;
  margin-top: 70px;
  margin-left: 350px;
}

section {
  color: white;
  text-align: left;
  width: 500px;
  margin-top: 70px;
  margin-left: 350px;
}

section h1 {
  font-size: 30px;
}

header {
  background-color: #252525;
  color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 150px;
  margin-left: 40px;
}

nav {
  margin-top: 110px;
  margin-bottom: -30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #555;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: absolute;
  top: 12%;
  right: 25px;
  transform: translateY(-50%);
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #a5a5a5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #252525;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .explore,
footer .connect,
footer .support {
  text-align: left;
  margin-right: 250px;
  margin-left: 250px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product-grid a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.product-grid img {
  padding: 10px;
  width: auto;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-grid span {
  display: block;
  margin-top: 10px;
}

span {
  color: white;
}

.category-action {
  width: 100px;
  height: auto;
}

.product {
  display: flex;
  align-items: center;
}

.product img {
  max-width: 250px;
  margin: 20px 50px 0 250px;
}

.product .product-info {
  width: 250px;
  color: white;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 25px;
}

.cart {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.cart h2 {
  text-align: center;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item img {
  max-width: 100px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
  margin-bottom: 10px;
  color: white;
}

.price {
  margin-top: 90px;
}

.quantity input {
  width: 40px;
  padding: 5px;
}

.total {
  margin-left: 10px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

.remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 110px;
}

.remove-btn:hover {
  background-color: #c82333;
}

.addcart-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
}

.addcart-btn:hover {
  background-color: #c82333;
}
