/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: gray;
  background-color: var(--color-secondary);
}

.action {
  color: yellowgreen;
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  left: 1300px;
  transform: translateY(-50%);
  max-width: 100%;
  height: auto;
}

.right img {
  height: 350px;
}

section {
  color: white;
  text-align: center;
  position: relative;
  width: 500px;
  left: 200px;
  top: 30px;
}

section h1 {
  font-size: 30px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header .logo {
  height: 150px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.search-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #555;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #a5a5a5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer .explore,
footer .connect,
footer .support {
  display: inline-block;
  vertical-align: top;
  margin-right: 200px;
  text-align: left;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;;
}