/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: #808080;
  background-color: var(--color-secondary);
}

main {
  padding-bottom: 100px;
}

.right {
  position: absolute;
  top: 450px;
  right: 200px;
  transform: translateY(-50%);
  color: #fff;
}

.right img {
  max-width: 100%;
  height: 350px;
  margin-top: 100px;
}

section {
  color: white;
  text-align: left;
  width: 500px;
  margin-top: 70px;
  margin-left: 350px;
}

section h1 {
  font-size: 30px;
}

header {
  background-color: #252525;
  color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 150px;
  margin-left: 40px;
}

nav {
  margin-top: 110px;
  margin-bottom: -30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #555;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: absolute;
  top: 12%;
  right: 25px;
  transform: translateY(-50%);
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #a5a5a5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #252525;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .explore,
footer .connect,
footer .support {
  text-align: left;
  margin-right: 250px;
  margin-left: 250px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

.container-movie h1 {
  color: white;
  text-align: left;
  width: 500px;
  margin-top: 70px;
  margin-left: 150px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  transition: grid-template-columns 0.1s ease;
}

.product-grid a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.product-grid img {
  padding: 10px;
  width: auto;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-grid span {
  display: block;
  margin-top: 10px;
}

span {
  color: #fff;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 50px;
}

.product img {
  max-width: 250px;
  margin: 20px 50px 0 250px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.price-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  padding-bottom: 48px;
}

.product .product-info {
  width: 250px;
  color: white;
}

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -15px;
}

.cart {
  max-width: 600px;
  margin-top: 40px;
  color: #fff;
}

.cart h2 {
  text-align: center;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-item img {
  max-width: 100px;
  margin-right: 10px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-btn:hover {
  background-color: #5a5a5a;
}

.remove-btn {
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 110px;
}

.remove-btn:hover {
  background-color: #5a5a5a;
}

.addcart-btn {
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addcart-btn:hover {
  background-color: #5a5a5a;
}

.checkout {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin-top: 75px;
}

.success-title {
  color: #fff;
}

.success-message {
  color: #fff;
}

.success-btn {
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50px;
  margin-bottom: 148px;
}

.success-btn:hover {
  background-color: #5a5a5a;
}

.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  margin: 0;
}

.about-section {
  margin-bottom: 40px;
}

.about-section h2 {
  color: #007bff;
}

.contact-details {
  line-height: 0.2;
  font-size: 20px;
  margin-bottom: 267px;
}

.email,
.phone {
  font-weight: bold;
  margin-right: 5px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1600px) {
  section {
    width: 500px;
    margin-left: 200px;
    margin-right: 20px;
  }

  .search-bar {
    right: 10px;
  }

  #contact {
    right: 50px;
  }

  nav {
    margin-top: 110px;
  }

  nav ul li:last-child {
    margin-right: 10px;
  }

  .footer content {
    flex-direction: column;
  }

  footer .explore,
  footer .connect,
  footer .support {
    margin-right: 150px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .right {
    right: 50px;
  }

  #contact {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .right {
    display: none;
  }

  .right-contact {
    display: none;
  }

  .product-grid img {
    width: 190px;
  }

  section {
    width: 500px;
    margin-left: 200px;
    margin-right: 20px;
  }

  .search-bar {
    right: 10px;
  }

  footer .explore,
  footer .connect,
  footer .support {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 910px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .product-grid img {
    width: 155px;
    height: auto;
  }
}

@media screen and (max-width: 784px) {
  .product-grid {
    margin: 10px;
  }

  .product-grid img {
    width: 140px;
    height: auto;
  }

  section {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .search-bar {
    display: none;
  }

  nav {
    margin-top: 40px;
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  section {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  nav ul li a {
    padding: 2px 5px;
    margin: 10px;
  }

  footer .explore,
  footer .connect,
  footer .support {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }
}